.after-onboarding-index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.after-onboarding-index .overlap-group-wrapper {
  background-color: #ffffff;
  height: 932px;
  width: 430px;
}

.after-onboarding-index .overlap-group {
  background-image: url(https://cdn.animaapp.com/projects/64fe857ab4e762deb167d3a8/releases/64fe87577896e9144c66eabd/img/background.svg);
  background-size: 100% 100%;
  height: 932px;
  position: relative;
}

.after-onboarding-index .fury-logo-graphic {
  height: 120px;
  left: 306px;
  object-fit: cover;
  position: absolute;
  top: 853px;
  width: 120px;
}

.after-onboarding-index .flower {
  display: block;
  height: 491px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 66px;
  transform: scale(1.1);
  width: 430px;
}

.after-onboarding-index .congratulations-you {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 595px;
  width: 328px;
}

.after-onboarding-index .text-wrapper {
  color: #000000;
}

.after-onboarding-index .span {
  color: #7a220f;
  font-weight: 700;
}

.after-onboarding-index .overlap {
  background-color: #7a220f;
  border-radius: 18px;
  height: 50px;
  left: 57px;
  position: absolute;
  top: 826px;
  width: 165px;
}

.after-onboarding-index .div {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 116px;
  border: none;
  background: none;
  padding: 0;
}

.after-onboarding-index .address {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 785px;
  width: 328px;
}

.after-onboarding-index .address-no-copy {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 755px;
  width: 328px;
}

.after-onboarding-index .elipsis {
  width: 230px; /* Set the width of the container */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
  margin: 5px; 
  display: block;
  font-size: 20px;
}

.logo {
  width: 5%;
  position: absolute;
  top: 10px;
  right: 21px;
}

.btn {
  border: none;
  background: none;
  padding: 0;
}

.clipboard {
  position: absolute;
  left: 57px;
  top: 755px;
  width: 328px;
  font-size: 20px;
}