.index {
  background-color: #e4d8d1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .overlap-group-wrapper {
  background-color: #e4d8d1;
  height: 932px;
  width: 430px;
}

.index .overlap-group {
  background-image: url(https://cdn.animaapp.com/projects/64fe857ab4e762deb167d3a8/releases/64fe87577896e9144c66eabd/img/background.svg);
  background-size: 100% 100%;
  height: 932px;
  position: relative;
}

.index .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 179px;
  width: 309px;
}

.index .div {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 802px;
  white-space: nowrap;
  width: 150px;
}

.index .fury-logo-graphic {
  height: 120px;
  left: 306px;
  object-fit: cover;
  position: absolute;
  top: 803px;
  width: 120px;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 424px;
  width: 328px;
}

.index .google {
  height: 90px;
  left: 170px;
  position: absolute;
  top: 488px;
  width: 90px;
}
